header {
    display: flex;
    flex-direction: row;
    background: #2f384f;
    color: #fff;
    align-items: center;
    padding-left: 25px;
}

.buttons {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    button {
        margin: .5em;
    }
}